body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fdfbf9;
}

a {
    text-decoration: none;
}

header{
    display:flex;
    flex: 0 30px;
    background-color: #ffd6e0;

    background-image: radial-gradient(#eda0ba88, 20%, transparent 20%),
     radial-gradient(#eda0ba88, 20%, transparent 20%);
    background-position: 0 0, 45px 105px;
    background-size: 30px 30px;
}

menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

menu .nav-item {
    padding: 0 0.3em;
    font-weight: bold;
}

.nav-link {
    color: #be587a;
    &:hover {
        color:#7e2a48;
    }
}

.active-nav-link {
    color:#7e2a48;
    &:hover {
        color:#e494b0;
    }
}

h1 {
    color: #be587a;
    padding: 0.3em;
    padding-left: 0.6em;
    font-family: "Lucida Calligraphy", cursive;
    font-weight: bold;
}

h2 {
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #b2defc;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: -1px 0px 1px rgb(40, 101, 143);
}

.container p {
    color: #47573d; 
    
}

.user-input {
    color: #47573d;
}

main{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

input[type=text], input[type=password] {
    padding: 0.7em;
    margin: 5px 0 22px 0;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  button {
    opacity: 1;

    color: #28658f;
    background-color: #c3e4fa;
    border-color: 2px solid #53636e;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 40px;

    cursor: pointer;
    transition: all 0.25s ease;
    float: left;

    &:hover {
        color:white;
        background: #28658f;
    }
  }
  
  .container {
    padding: 16px;
  }
  
  @media screen and (max-width: 300px) {
    .cancelbtn, .submitbtn {
      width: 100%;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    flex: 0 10px;
    background-color: #b0c8b8;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    color: #47573d;
    font-size: 15px;
}

footer a {
    color: #47573d;
    padding-right: 0.5em;
    &:hover {
        color:#d8e8ce;
    }
}

